/* Ejercicio 3 — Calculadora */
.main {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f4f6f9;
  font-family: 'Inter', sans-serif;
}

.calculadora {
  background: #fff;
  border: 1px solid #e2e8f0;
  border-radius: 16px;
  padding: 2rem;
  width: 100%;
  max-width: 420px;
  box-shadow: 0 4px 24px rgba(0,63,127,.1);
}

.calculadora h2 {
  font-size: 1.2rem;
  font-weight: 800;
  color: #003f7f;
  text-align: center;
  border-bottom: 3px solid #fdb913;
  padding-bottom: 0.75rem;
  margin-bottom: 1.25rem;
}

.calculadora input {
  width: 100%;
  padding: 0.65rem 1rem;
  border: 1px solid #e2e8f0;
  border-radius: 8px;
  font-family: 'Fira Code', monospace;
  font-size: 1rem;
  margin-bottom: 0.75rem;
  outline: none;
  transition: border-color .2s;
  color: black
}

.calculadora input:focus {
  border-color: #003f7f;
  box-shadow: 0 0 0 3px rgba(0,63,127,.1);
}

.calculadora button {
  padding: 0.55rem 1rem;
  background: #003f7f;
  color: #fff;
  border: none;
  border-radius: 8px;
  font-family: 'Inter', sans-serif;
  font-size: 0.8rem;
  font-weight: 600;
  cursor: pointer;
  transition: background .2s;
  margin: 0.2rem;
}

.calculadora button:hover {
  background: #fdb913;
  color: #001f3f;
}

.calculadora p {
  margin-top: 1rem;
  text-align: center;
  font-size: 1.1rem;
  font-weight: 700;
  color: #003f7f;
  background: #e6f1fb;
  padding: 0.6rem;
  border-radius: 8px;
  font-family: 'Fira Code', monospace;
}

.error {
  color: #c0392b !important;
  background: #fdecea !important;
  border: 1px solid #f5c6c2 !important;
}